body {
    background-image: url('ct.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }


.conte1{
    background-color: white;
    border-radius: 30px;
    border:  1px solid #F7B108;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.col1{
    height: 100%;
    background-color: #F7B108;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.h11{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color:#07273F;
    


}

.imagen1{
    width: 20rem;
    height: 20rem;
    position: relative;
    align-items: center;
}

.imagen1 img {
    max-width: 100%;
    height: auto;
}
.col2{
    padding: 20px;
}



.h12{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #111B1E;
    text-align: center;
}

.label1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: #111B1E;
    padding: 7px;
}

.label1:hover{
    color: red;

}




.input1 {
    width: 70%;
    height: 2rem;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: transparent;
    margin: 10px 0;
}

.input1:focus {
    transition: 0.5s;
    border-bottom: 2px solid red; 

}

.label2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: #111B1E;
    padding: 7px;
}

.label2:hover{
    color: red;

}


.input2{
    width: 70%;
    height: 2rem;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: transparent;
    margin: 10px 0;
}

.input2:focus{
    transition: 0.5s;
    border-bottom: 2px solid red; 
}

.boton1{
    width: 8rem;
    height: 3rem;
    position: relative;
    bottom: 30%;
    transform: skew(-20deg);
    overflow: hidden;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    left: 4%;
    margin: 1.8rem;
}

.boton1 p {
    display: block;
    transform: skew(20deg);
    border-color: red;
}

.boton1::before{
    content: '';
    width: 0;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
   
}
.boton1:hover::before{
    width: 9rem;

}
.aa{
    text-align: center;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: #111B1E;
}



